* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #475F45;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.section {
    height: 100vh;
}

.title {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 110%;
    text-transform: capitalize;
    color: #343D33;

}

.subtitle {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 110%;
    text-transform: capitalize;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    margin-top: 19px;
}
.logo__text{
    margin-left: 14px;
}
.logo__title{
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 3px;
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #343D33;
}
.nav__list{
    display: flex;
    align-items: center;
}
.nav__item{
    margin-right: 40px;
}
.nav__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.nav__item--border{
    border: 2px solid #475F45;
    padding: 15px 30px;
    display: block;
}
.hero__content{
    display: flex;
    align-items: center;
}
.hero__img-wrap{
    margin-left: 184px;
}
.hero__desc{
    margin-top: 16px;
    margin-bottom: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 150%;
    text-transform: capitalize;
    color: #414840;
}
.hero__btns{
    display: flex;
}
.btn{
    display: block;
    padding: 20px 40px;
    border: solid #343D33;
    margin-right: 16px;
    color: #343D33;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.btn--active{
    background-color: #343D33;
    color: white;
}
.hero__img-wrap{
    margin-top: 32px;
    padding: 9px;
    border: 4px solid #343D33;
    border-radius: 500px 500px 0px 0px;
}
.hero__img{
    border-radius: 500px 500px 0px 0px;
}
.about{
    background-color: #343D33;
}
.about__container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1040px;
    
}

.about__top-img-wrap {
    width: 534px;
    height: 354px;
    overflow: hidden;
    margin-top: 96px;
    margin-right: 69px;
    margin-bottom: 60px;
}

.about__top-img {
    height: 100%;
    width: 100%;
    object-fit: cover;    
}

.about__desc {
    width: 417px;
    margin-top: 96px;
}

.subtitle {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 110%;
    color: #ffffff;
    margin-bottom: 32px;
    text-transform: capitalize;
}

.about__info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
}

.about__bottom-img-wrap{
    width:100%;
}
.about__bottom-img{
    width: 100%;
}
@media (max-width: 768px) {

    .about__container{
        max-width: 534px;
    }

    .about__top-img-wrap{
        width: 100%;
        height: 354px;
    }
    .about__bottom-img-wrap{
        width: 100%;
    }

    .about__desc{
        order:1
    }
}

.btn--white {
    border: 2px solid #ffffff ;
    color: white;
    display: inline-block;
}
.about__bottom-img-wrap {
    width: 1040px;
    height: 409px;
}
.about__bottom-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.news__subtitle{
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 110%;
    text-transform: capitalize;
    color: #343D33;
    margin-top: 96px;
}
.news__content{
    display: flex;
    
}
.news__item{
    display: flex;
}
.news__item--big{
    width: 43%;
    flex-direction: column;
}
.news__item-desc{
    flex: 1;
}
.news__item-big .news__img-wrap{
    width: 100%;
    height: 333px;
}
.news__img-wrap{
    width: 236px;
    height: 151px;
}
.news__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
.news__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #475F45;
}

.news__item-title{
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 110%;
    color: #475F45;
    margin-top: 20px;
    margin-bottom: 12px;
}
.news__item-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #414840;
    margin-bottom: 12px;
}
.news__item-date{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #343D33;
}
